.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.month {
  align-items: center;
  display: flex;
}

.month-nest {
  display: flex;
  align-items: center;
  justify-content: center;
}
