/* Parent of Calendar-Day-Number */
.calendar-day-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  justify-content: space-around;
}

.calendar-day-container-days-of-week {
  height: 40px !important;
}

.calendar-day-number {
  /* justify-items: flex-start; */
  align-self: flex-start;
}
