.navbar-flex {
    display: flex !important;
    justify-content: space-between;
}

.settings-flex {
    display: flex !important;
    justify-self: flex-start !important;
    align-self: flex-start !important;
}

.hidden-flex{
    visibility:hidden;
}

.title-flex {
    display: flex !important;
    justify-self: center !important;
    align-self: center !important;
}

